.projects-section{
    margin: 20px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.section-title{
    padding-left: 15px;
}

.project-container{
    margin: 30px 10px 50px 10px;
    padding-bottom: 20px;
}

.project-container:first-child{
    margin-top: 0px;
}

.project-information{
    margin: 10px 0px;
    padding: 5px;
}

.project-title{
    margin: 5px 0px 5px 0px;
}

.project-description{
    margin-bottom: 15px;
}

svg{
    filter: invert();
}

.project-link, .project-state{
    padding: 5px 15px;
    margin: 5px 0px;
}

.technologies-container{
    margin-top: 5px;
}

.tech{
    padding: 7px 15px;
    margin: 5px 5px;
}

.tech:first-child{
    margin-left: 0;
}

.project-img{
    margin: 15px 10px;
}

.projects-section{
    padding-bottom: 20px;
}


.photos-container{
    padding: 17px 0px;
}

@media (min-width: 1024px){
    .project-information{
        padding: 0px 5px;
    }

    .project-photo{
        margin: 0px 10px;
    }
}