.projects-section{
    margin-top: 40px;
    margin: 20px 20px 0px 20px;
    padding-top: 50px;
}

.projects-title{
    padding: 20px 0px 0px 20px;
}



.projects-subtitle{
    padding: 0px 0px 20px 20px;
}

.project-container{
    margin: 30px 20px 50px 20px;
    padding-bottom: 20px;
}

.project-container:first-child{
    margin-top: 0px;
}

.project-information{
    margin: 10px 0px;
}

.project-title{
    margin: 5px 0px 5px 0px;
}

.project-description{
    margin-bottom: 15px;
}

svg{
    filter: invert();
}

.project-link{
    padding: 5px 15px;
    
}

.technologies-container{
    margin-top: 10px;
}

.tech{
    padding: 7px 15px;
    margin: 5px 7px;
}

.tech:first-child{
    margin-left: 0;
}

.project-img{
    margin: 15px 10px;
}

.project-photo{
    margin: 10px 0px;
    margin-left: 0px;
}


.projects-section{
    padding-bottom: 20px;
}

@media (max-width: 768px){
    .project-photo{
        width: 100%;
        margin-right: 11px;
    }
}

@media (min-width: 768px){
    .project-container:nth-child(odd) .project-photo{
        margin-right: 10px;
    }
}


@media (min-width: 1024px){
    .project-information{
        padding: 0px 5px;
    }

    .project-container:nth-child(even) .project-photo{
        margin-right: 10px;
    }

    .project-container:nth-child(odd) .project-photo{
        margin-right: 10px;
    }
}