.header-title{
    margin-left: 20px;
}

.header-btns{
    margin-right: 20px;
}

.nav-list{
    padding: 0;
    overflow-y: hidden;
}

.btn-menu{
    overflow-y: hidden;
}

.nav-list-item{
    margin: 15px 10px;
    padding-left: 5px;
}

@media (min-width: 768px){

    .header-title{
        margin-left: 20px;
    }

    .nav-list{
        margin-top: 0px;
        margin-right: 20px;
    }
    .nav-list-item{
        margin: 10px 0px;
        padding: 5px 20px;
    }

    .nav-list-item:first-child{
        margin-top: 30px;
    }
}


@media (min-width: 1024px){
    .nav-list{
        margin-top: 0px;
        gap: 0;
    }
    .nav-list-item{
        margin: 30px 0px;
        padding: 5px 20px;
    }
}