@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

body, h1, h2, h3, h4, h5, h6, p, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
}
