.aboutMe-container{
    margin: 40px 20px;
    padding: 40px 0px;
}

.aboutMe-title{
    /* margin-bottom: 100px; */
    padding: 20px 0px 0px 15px;
}

.aboutMe-subtitle{
    padding: 0px 20px 0px 15px;
}



.aboutMe-information-personal{
    padding-top: 10px;
    
}

.aboutMe-information-university{
    padding: 5px;
}

.aboutMe-text{
    margin: 2.5px 0px 10px 10px;
}

.aboutMe-information-title{
    margin-top: 10px;
}

.last-title{
    padding-left: 5px;
    margin-bottom: 0;
}

.skills-container{
    margin: 15px 0px;
}

.skills-title{
    padding: 0px 0px 10px 15px;
}

.skillsTechnology{
    cursor: pointer;
    margin: 4px 5px;
    padding:5px 15px;
}

.skillsTechnology span{
    padding-left: 4px;
}


.skills-technologies-container{
    margin: 0px 10px 10px 10px;
}

@media (min-width:768px) {
    .aboutMe-information-skills{
        margin-left: 20px;
        padding: 10px 15px;
        /* border: 1px solid red; */
    }
}

@media (min-width:1024px) {
    .aboutMe-container{
        margin: 100px 0px;
    }
    .aboutMe-information-university{
        padding-right: 10px;
        
    }
    .aboutMe-information-university .aboutMe-information-title{
        padding-right: 5px;
    }
    
}

